{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% trans "Profile" %} 
{% endblock %}

{% block container %}

<div class='container profile-body'>
	<div class='row'>
	<div class="col-md-4 col-lg-4 col-sm-8">
		<div class="panel panel-default">
        <!-- Default panel contents -->
	        <div class="panel-heading">
	          {{request.user.first_name}}

	        </div>
	        <div class="panel-body">
	          <p>...</p>
	        </div>
	        <!-- List group -->
	        <ul class="list-group">
	          <li class="list-group-item">
	          	{% trans  "Email" %} {{user.email}}
	          </li>
	          <li class="list-group-item">
				{% trans  "First Name" %} {{ user.first_name }}
	          </li>
	          <li class="list-group-item">
	          	Last Name: {{user.last_name}}
	          </li>
	          <li class="list-group-item">
	          	{% trans  "Date Joined" %} {{user.date_joined}}
	          </li> 
	          <li class="list-group-item">
	          	<a href='/edit_profile/'>
				<button type="button" class="btn btn-default" aria-label="Left Align">
				{% trans "Edit Profile" %}
  				<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
				</button>
				</a>
	          </li> 
	        </ul>
		</div>
		</div>
	</div>	
</div>



{% endblock %}