{% extends 'base.html' %}

{% block title %}
    {{ subject.title }}
{% endblock %}

{% block container %}
    <div class="row">
        {% for video in subject.video_set.all %}
            <div class="col-md-8 col-sm-12 portfolio-item">
                <img src="http://img.youtube.com/vi/{{ video.video_id }}/0.jpg" class="img-responsive">
                <div class="portfolio-caption">
                    <h4>
                        <a href="{% url 'video_detail' pk=video.pk %}">{{ video.title }}</a>
                    </h4>
                    <a href="{% url 'subject_detail' pk=video.subject.pk %}"><p class="text-nowrap">{{ video.subject }}</p></a>

                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}